.chat {
  height: 200px;
  width: 600px;
  overflow-y: scroll;
  overflox-x: hidden;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #3B3C3E;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}

#userList {
	float: left;
	width: 100px;
	height: 200px;
	overflow-y: scroll;
  overflox-x: scroll;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
}

.chat-container {
	position: relative;
	float: left;
}

.chat-input {
	bottom: 0;
	float: left;
}

.chat-submit {
  bottom: 0;
  height: 31px;
  width: 60px;
  float: right;
  margin-top: 2px;
}