.chat {
  height: 200px;
  width: 600px;
  overflow-y: scroll;
  overflox-x: hidden;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #3B3C3E;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}