body {
	font-family: Helvetica, Arial, sans-serif;
}

.chat {
  height: 200px;
  width: 600px;
  overflow-y: scroll;
  background-color: #F5F5F5;
  border: 3px solid #4F5522;
  border-radius: 5px;
  color: #3B3C3E;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}

#userList {
	float: left;
	width: 100px;
	height: 254px;
	margin-right: 10px;
	overflow-y: scroll;
  overflox-x: scroll;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.chat-container {
	position: relative;
	float: left;
}

.chat-input {
	bottom: 0;
	float: left;
	border-radius: 5px;
}

.chat-submit {
  bottom: 0;
  height: 31px;
  width: 60px;
  float: right;
  margin-top: 2px;
}

#users {
	height: 200%;
	width: 100%;
	overflow: auto;
	border: 0px;
}